.dm-hover:hover {
    background: lightgray !important;
}

body.dark-mode .dm-hover:hover {
    background: var(--dark-mode-bg-hover) !important;
}

body.dark-mode .dm-hover:active {
    background: gray !important;
}