/* LIght Mode */
::-webkit-scrollbar {
    width: 10px;
}

::-webkit-scrollbar-thumb {
    background: rgb(60, 130, 238);
    border-radius: 8px;
}

::-webkit-scrollbar-track {
    background: white;
}

::-webkit-scrollbar-thumb:hover {
    background: rgb(11, 83, 190);
}



/* Dark Mode */
/* width */
body.dark-mode ::-webkit-scrollbar {
    width: 10px;
}

/* Track */
body.dark-mode ::-webkit-scrollbar-track {
    background: rgb(35, 39, 47) !important;
}

/* Handle */
body.dark-mode ::-webkit-scrollbar-thumb {
    background: white !important;
    border-radius: 8px;
}

/* Handle on hover */
body.dark-mode ::-webkit-scrollbar-thumb:hover {
    background: #555 !important;
}